.row {
    margin: 5px 0px 5px 0px;
    border: solid 1px black;
}

.text-center {
    border: solid 1px black;
    font-size: 1.5vw;
}

.leftColumn {
    font-size: 1.3vw;
    margin: auto;
}

body {
    background-color: rgb(173, 173, 173);
}

input {
    font-size: 10px;
}