.row {
    margin: 5px 0px 5px 0px;
    border: solid 1px black;
}

.text-center {
    border: solid 1px black;
    font-size: 1.5vw;
    margin: auto
}

.leftColumn {
    font-size: 1.3vw;
    margin: 5px;
}

.col-1 {
    background-color: rgb(178, 238, 178);
}
body {
    background-color: rgb(72, 192, 102);
}

inputs {
    
}
#courseName {
    text-align: center;
    color: rgb(44, 65, 44);
    text-decoration: underline;
}
.totals {
    color: rgb(44, 65, 44);
}